<!-- <form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>

<tbody>
               {% if data %}
               {% for d in data %}
               <tr>
                   <td>{{ d.id }}</td>
                   <td>{{ d.volumeInfo.title }}</td>
                   <td>{{ d.volumeInfo.authors }}</td>
                   <td>{{ d.publisher }}</td>
                   <td>{{ d.pageCount }}</td>
                   <td>{{ d.printType }}</td>
                   <td>{{ d.mainCategory }}</td>
                   <td>{{ d.averageRating }}</td>
                   <td>{{ d.retailPrice }}</td>
                   <td><a class ="btn btn-primary "href="/">Purchase</a></td>
                   <td><a class ="btn btn-danger red"href="/">Save</a></td>
               </tr>
               {% endfor %}
               {% else %}
               <h1>No books founds to display</h1>
               {% endif%}
           </tbody> -->


           {{ data }}
