{% extends 'base.html' %}
{% load static %}

{% block content %}


<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- <div class="container">
  <form class="form-group" type="get" action="." style="margin: 0">
      <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
      <button id="search_submit" class="btn-success" type="submit" >Submit</button>
  </form>
<p class=" badge badge-danger ">{{ items.searchInfo   }}</p>
  </div> -->
            <body>
              <div class="py-5">
                <div class="container">
                  <div class="row hidden-md-up">
                    {% for items in data.items %}
                    <div class="col-sm-3 col-md-4 col-lg-4">
                      <div class="card">
                        <div class="card-block">
                          <p class="card-header d-flex  flex-fill text-body">{{ items.volumeInfo.title }}</p>
                          <img src="{{ items.volumeInfo.imageLinks.thumbnail }}" class="img-thumbnail mx-auto d-block" alt="" width="100px">
                          <div class="card-body">
                            <p> Rating &#9733 {{ items.volumeInfo.averageRating }}</p>
                          <p class="card-subtitle  badge badge-info ">{{ items.volumeInfo.authors }}</p>
                          <p class="card-subtitle  badge badge-danger ">{{ items.saleInfo.saleability}}</p>
                         </div>
                          <div href="#" class="card-footer">
                            <a class ="btn btn-success "href="{{ items.saleInfo.buyLink }}">&#8377 {{ items.saleInfo.listPrice.amount }}<br></a>
                            <a class ="btn btn-warning"href="{{ items.accessInfo.webReaderLink }">Save</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
              <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
            </body>





</body>
</html>

{% endblock %}
