{% extends 'base.html' %}
{% load static %}

{% block content %}


<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <form class="pure-form pure-form-stacked pure-input-2-3" method="post" style="margin-left: 40%;"novalidate>

          {% csrf_token %}
          {{ form.as_p }}

  <button type="submit">Submit</button>
  </form>
  </div>
              <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
              <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
            </body>






</html>

{% endblock %}
